<h1>Wanna see something cool??</h1>

<form action="/title">
	<div class="form-group">
		<label for="title">Enter a title</label>
		<input id="title" name="title" class="form-control" type="text">
	</div>
	<button type="submit" class="btn-success">Send</button>
</form>